.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px;
}

button {
  border-radius: 10px;
  border: 1px solid #4169e1;
  background-color: #4169e1;
  color: white;
  font-weight: 500;
  font-size: 18px;
  padding: 8px 8px;
  cursor: pointer;
}
